.navbar {
    display: flex;
    flex-direction: row;

    &-container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 35px;
        margin-bottom: 50px;
    }

    &--title {
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        transition: 0.15s linear;

        &:hover {
            color: darken($white, $color-coef);
        }
    }

    &-items {
        display: flex;
        margin-left: auto;
        margin-top: 5px;

        &--item {
            font-size: 17.5px;
            font-weight: 200;
            text-transform: uppercase;
            padding-left: 50px;
            cursor: pointer;
            color: $grey;
            transition: 0.15s;
            outline: 0 none;

            &--selected {
                color: $primary;
                font-weight: 500;

                &:hover {
                    color: $primary !important;
                }
            }

            &:hover {
                color: darken($grey, $color-coef);
            }
        }
    }
}
