<div class="navbar navbar-container">
  <div class="navbar--title">
    <h4>Suzanne <strong>Collins</strong></h4>
  </div>

  <div class="navbar-items">
    <div class="navbar-items--item" routerLink="home" routerLinkActive="navbar-items--item--selected">
      Home
    </div>
    <div class="navbar-items--item" routerLink="books" routerLinkActive="navbar-items--item--selected">
      Books
    </div>
    <div class="navbar-items--item" routerLink="bio" routerLinkActive="navbar-items--item--selected">
      Bio
    </div>
    <div class="navbar-items--item" routerLink="contact" routerLinkActive="navbar-items--item--selected">
      Contact
    </div>
  </div>
</div>
