html, body {
    margin: 0;
    background-color: $fill;
    // background-image: url('https://www.biography.com/.image/t_share/MTE5NDg0MDU1MzIzNTc1ODIz/suzanne-collins.jpg');
    // background-size: cover;
    color: $white;
    font-family: 'Montserrat'
}
