h1 {
    font-size: 35px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-size: 35px;
    font-weight: 200;
    margin: 0;
}

h4 {
    font-size: 25px;
    font-weight: 200;
    margin: 0;
}

strong {
    font-weight: 700;
}

span {
    color: $primary;
    text-transform: uppercase;
    font-weight: 500;
}
