h1 {
    font-size: 35px;
    margin: 0;
}

h2 {
    font-size: 35px;
    margin: 0;
}

h3 {
    font-size: 35px;
    font-weight: 200;
    margin: 0;
}

h4 {
    font-size: 25px;
    font-weight: 200;
    margin: 0;
}

strong {
    font-weight: 700;
}
